* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: lightblue;
    height: 70px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.sinistra {
    width: 25%;
}

.centro {
    width: 50%;
    text-align: center;
}

.destra {
    width: 25%;
    text-align: right;
}

.colonna {
    background-color: yellow;
}