* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #ADD8E6;
    height: 60px;
}

/* Classi  principali struttura */
.container {
    height: 100%;
    width: 1200px;
    margin: 0px auto;
    display: flex;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Stile colonne header */
.left {
    width: 25%;
}

.center {
    width: 50%;
    text-align: center;
}

.right {
    width: 25%;
    text-align: right;
}

.column {
    background-color: #DAA521;
    padding: 5px;
    border: dashed 2px black;
}

/* Main */
.col {
    height: 200px;
}

.bg-darkblue {
    background-color: #00008B;
}

.col-100 {
    width: 90%;
    height: 300px;
    margin: 10px;
    background-color: #EE81EE;
    border: dashed 2px black;
}
}