* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #ADD8E6;
    height: 60px;
}

.container {
    height: 100%;
    width: 1200px;
    margin: 0px auto;
    display: flex;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Stile colonne */
.sinistra {
    width: 25%;
}

.centro {
    width: 50%;
    text-align: center;
}

.destra {
    width: 25%;
    text-align: right;
}

.colonna {
    background-color: #DAA521;
    padding: 5px;
    border: 1px dotted black;
}