* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #ADD8E6;
    height: 85px;
}

/* Classi  principali struttura */
.container {
    width: 1200px;
    margin: 0px auto;
}

.row {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Stile colonne header */
.left {
    width: 25%;
}

.center {
    width: 50%;
    text-align: center;
}

.right {
    width: 25%;
    text-align: right;
}

.column {
    background-color: #DAA521;
    padding: 5px;
    border: dashed 1px black;
}

/* Main */
/* first row */
.bg-darkblue {
    background-color: #00008B;
}

.column-100 {
    width: 80%;
    height: 300px;
    background-color: #EE81EE;
    border: dashed 1px black;
}

/*row  colors*/
.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: #D3D3D3;
}

.bg-black {
    background-color: #23272A;
}

/* column size and color */
.column-65 {
    width: 65%;
    height: 300px;
    background-color: #1D90FF;
    border: dashed 1px black;
}

.column-35 {
    width: 35%;
    height: 300px;
    background-color: #FFBFCB;
    border: dashed 1px black;
}

/*column width 100% but double height */
.tall-column {
    width: 100%;
    height: 600px;
    border: dashed 1px black;
    background-color: #238B21;
}

/* columns value 1 and 2 */
.column-value1 {
    width: 40%;
    height: 400px;
    background-color: #F08080;
    border: dashed 1px black;
    margin-top: -10px;
}

.column-value2 {
    width: 15%;
    height: 400px;
    background-color: #20B2AA;
    border: dashed 1px white;
    margin-top: -10px;
}


/* start footer */


hr {
    color: #fff;
}

.button {
    width: 100%;
    height: 40px;
    background-color: #7FFFD4;
    align-content: center;
    justify-content: space-between;
}

#bottone-sinistro {
    border: dashed 1px black;
}

#bottone-destro {
    border: dashed 1px black;
}